* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flower {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  position: absolute;
  padding-bottom: 4rem;
}

.petal-1 {
  width: 20px;
  height: 40px;
  background: linear-gradient(to top, transparent 30%, rgba(61, 18, 18, 1) 80%);
  border-radius: 70%;
  transform: rotate(40deg) translateY(10px);
  position: absolute;
  z-index: -1;
}
.petal-2 {
  width: 18px;
  height: 49px;
  position: absolute;
  background: linear-gradient(to top, transparent 30%, rgba(61, 18, 18, 1) 80%);
  border-radius: 70%;
  transform: translateX(-20px);
}
.petal-3 {
  width: 20px;
  height: 40px;
  position: absolute;
  background: linear-gradient(to top, transparent 4%, rgba(61, 18, 18, 1));
  border-radius: 70%;
  transform: rotate(-48deg) translate(-25px, -24px);
  z-index: -1;
}
.petal-4 {
  width: 20px;
  height: 40px;
  position: absolute;
  background: linear-gradient(to top, transparent 20%, #ff440a 80%);
  /*background: linear-gradient(to top, #fff 10%, #ff440a); */
  border-radius: 70%;
  transform: rotate(-28deg) translate(-38px, -10px);
  z-index: -1;
}
.petal-5 {
  width: 20px;
  height: 40px;
  position: absolute;
  background: linear-gradient(to top, transparent 30%, #ff440a);
  border-radius: 70%;
  transform: rotate(-95deg) translate(-15px, -45px);
}
.petal-6 {
  width: 20px;
  height: 40px;
  position: absolute;
  background: linear-gradient(to top, transparent 30%, #ff440a 80%);
  border-radius: 70%;
  transform: rotate(-125deg) translate(-7px, -50px);
}
